* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

header.header {
  height: 100px;
  width: 100%;
  display: flex; /* Flexbox özelliği */
  justify-content: space-between; /* Elemanlar arasındaki boşluğu ayarla */
  align-items: center; /* Elemanları dikeyde ortala */
  background-color: #dcdcdc; /* Kapsayıcı arka plan rengi */
  padding: 0 5px; /* Kapsayıcıya iç boşluk */
}
.logo-div img {
  height: 55px;
  margin-right: 5px;
  display: block;
}

.logo-div,
.logo-title {
  color: black;
  font-size: 30px;
}
.logo-title span {
  color: #556b2f;
}
.navigation-links nav ul {
  list-style: none;
  display: flex;
}
.navigation-links nav ul li {
}
