* {
  margin: 0;
  padding: 0;
}

header.header {
  display: flex; /* Flexbox özelliği */
  justify-content: space-between; /* Elemanlar arasındaki boşluğu ayarla */
  align-items: center; /* Elemanları dikeyde ortala */
  background-color: #f0f0f0; /* Kapsayıcı arka plan rengi */
  padding: 10px; /* Kapsayıcıya iç boşluk */
}
header.logo-div {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 55rem;
  width: 20vh;
}

header.navigation-links {
  display: flex;
  justify-content: r;
  width: 40vh;
}

header.navigation-links ul {
  list-style: none;
  position: relative;
}

header nav ul li {
  display: block;
  padding: 30px;
  float: right;
  font-size: 15px;
}

header nav ul li a {
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: rgba(5, 6, 7, 0.5);
}
